<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/recipes/new">Create a recipe</a>

    <h1>The Current recipes are:</h1>
    <ul>
    <% @all_recipe.each do |recipe| %>
        <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name%></a></li>
    <%end%>
    </ul>
  </body>
</html>
