<form  action="/recipes" method="post">
  <p><label for="name">Recipe Name:</label>
  <input type="text" name="name" value="Recipe Name"> </p>
  <p><label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" value="Ingredients"></p>
  <p><label for="name">Cook Time:</label>
  <input type="text" name="cook_time" value="Cook Time"></p>
  <p><input type="submit" ></p>
</form>
