<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new Recipe!</title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      <label for="Name">Name:</label>
      <input type="text" name="name" value="">
      <br>
      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" value="">
      <br>
      <label for="">Cook Time:</label>
      <input type="text" name="cook_time" value="">
      <input type="submit" name="Submit">
    </form>

  </body>
</html>
